html, body, h1, ul, li, p {
  margin: 0;
  padding: 0;
}

body {
  background: #161719;
  height: 100vh;
  width: 100vw;
}

main {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-height: 600px) {
  main {
    left: 40%;
    transform: translate(-40%, -60%);
  }
}

h1 {
  color: #b59c56;
  font-family: "Open Sans";
  font-size: 3em;
}

p {
  color: #c5c8c6;
  font-family: "Open Sans";
  font-size: 1em;
}

code {
  font-family: "Inconsolata";
  font-size: 1em;
}

ul {
  display: block;
  margin: 0 auto;
}

li {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 1em;
  line-height: 1.5;
  list-style: none;
  margin: 0 5px;
}

.subh {
  color: #cc6666;
  font-weight: bold;
  margin-top: 5px; 
}

a {
  color: #5f819d;
  text-decoration: none;
  transition: .2s; 
}

a:hover {
  color: #81a2be; 
}
